body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

table tr td, table tr th {
  vertical-align: middle !important;
}

@media (max-width: 575px) {
  .content-wrapper {
    padding: 0;
  }
}