.cursor-pointer {
  cursor: pointer;
}

.alert {
  font-size: 14px;
  border-radius: 0;
}

.breadcrumb {
  background: transparent;
  padding: 5px 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.badge {
  border-radius: 3px;
  padding: .4em .5em;
}